name: PlatformIO Build

on:
    workflow_dispatch:
    push:
        branches:
            - main
            - develop
    pull_request: 

jobs:
    build:
        name: Build PlatformIO Project
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Install PlatformIO
              run: pip install platformio

            - name: Build main target
              run: pio run --environment esp32-build
